@import url("https://fonts.cdnfonts.com/css/meta-pro");

:root {
  --primary-color: #0d2c40;
  --secondary-color: #ed5a36;
  --teritary-color: #53c2d9;
  --background-rose: #c879b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6efe5;
  /* padding: 1em; */
  position: relative;
  font-family: "Meta Pro", sans-serif;
  color: #333;
}

.intro {
  width: 100%;
  background-color: #f6efe5;
}

header {
  background-color: var(--background-rose);
  height: 50em;
  width: 40%;
  float: left;
  position: relative;
}

header h1 {
  font-size: 1em;
  position: absolute;
  transform: rotate(-90deg);
  margin-left: 1em;
  top: 4.2em;
  left: -2.5em;
  font-weight: 600;
  color: white;
}

header h2 {
  font-size: 250%;
  color: aliceblue;
  line-height: 1.25em;
  position: relative;
  background: var(--primary-color) url(../css/icon-star.svg) no-repeat bottom
    left;
  background-size: 100%;
  /* background: url(../css/icon-star.svg) no-repeat left bottom; */
  width: 50%;
  float: right;
  height: 100%;
  padding: 6em 0 0 0.5em;
}

.summary {
  padding: 16.3em 2em 10em 2em;
  float: right;
  height: 50em;
  width: 60%;
  background: var(--background-rose) url(../css/icons-3-pack.svg) no-repeat
    bottom left;
  background-size: 100%;
}

.summary p {
  font-size: 1rem;
  line-height: 1.5;
  padding-right: 40%;
  margin-bottom: 2em;
  color: white;
}

.summary p a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.summary p a:hover {
  color: #0d2c40;
  border-bottom: 1px solid #0d2c40;

  transition-duration: 0.5s;
}

.preamble {
  clear: both;
  width: 60%;

  margin-left: 20%;
  padding: 8em 0 10em 0.5em;
  font-size: 1.2em;
  position: relative;
}

.preamble h3,
.preamble p {
  width: 66.66%;
  line-height: 1.5;
  margin-bottom: 1em;
  /* float: left; */
}

.preamble p:last-child {
  line-height: 1.5;
  width: 33.33%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8em 1em 20em 1em;
  background-color: rgba(0, 188, 217, 0.8);
  color: white;
  z-index: 2;
}

.main {
  clear: both;
  background: url(../css/mid-century-1.jpg) no-repeat center center;
  background-size: cover;
  font-size: 1rem;
  /* top: -20px; */
  z-index: 1;
  position: relative;
  padding-top: 400px;
  /* padding-bottom: 100px; */
}

/* .explanation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #0d2c40 url(../css/icon-half.svg) no-repeat;
  background-size: 40%;
  background-position: right center;
  width: 40%;
  color: white;
  font-size: 1.2rem;
  padding: 2em;
  /* height: 800px; */
/* } */

.explanation {
  position: relative;
  background-color: var(--primary-color);
  background: #0d2c40 url(../css/icon-half.svg) no-repeat;
  background-size: 30%;
  background-position: right center;
  color: white;
  width: 40%;
  padding: 2em;
  line-height: 1.4;
  margin: 0;
}

.explanation h3 {
  margin-bottom: 1em;
  transform: rotate(-90deg);
  position: absolute;
  padding: 2em;
  top: 6em;
  left: -8.5%;
}

.explanation p {
  margin: 1em 6em 1em 1em;
  padding-left: 4em;
}

.participation {
  background-color: #f6efe5;
  width: 40%;
  padding: 1em;
  position: absolute;
  margin-top: 14em;
  right: 40%;
}

.participation h3 {
  margin-bottom: 1.5rem;
}
.participation p {
  line-height: 1.5;
  /* padding: 1em; */
  margin-bottom: 1.5rem;
}

.benefits {
  position: absolute;
  right: 20%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 22em;
  padding-bottom: 25em;
  background: #53c2d9 url(../css/icon-circles.svg) no-repeat;
  background-size: 80%;
  background-position: top center;
  width: 20%;
}

.benefits h3 {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.benefits p {
  line-height: 1.3;
}

.requirements {
  background-color: #f6efe5;
  margin-top: 60em;
  padding-left: 3em;
  width: 60%;
  /* position: absolute; */
  position: absolute;
  right: 0;
  column-count: 2;
  column-gap: 1rem;
}

.requirements h3 {
  transform: rotate(-90deg);
  position: absolute;
  top: 5rem;
  left: -12%;
  font-size: 2rem;
  font-weight: 700;
}

.requirements p {
  font-size: 1rem;
  line-height: 2;
  margin-top: 1em;
  margin-bottom: 1em;
  /* width: 50%; */
}

.requirements::before {
  content: "";
  background: url("/website-duplicates/mid-century-modern/css/mid-century-2.jpg");
  position: absolute;
  height: 40em;
  width: 60%;
  left: -60%;
}
