:root {
  --primary-color: #daede2;
  --secondary-color: #77c4d3;
  --tertiary-color: #394553;
  --quartrenary-color: #e9f298;
  --red-color: #ec4848;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
  padding: 5%;
}

body {
  background-color: var(--secondary-color);
  font-size: 110%;
}

section.intro {
  color: #fff;
  width: 66.6%;
  padding: 5%;
}

header {
  /* background-color: white; */
  /* margin-bottom: 6em; */
}

.intro header h1 {
  font-weight: 300;
  text-transform: uppercase;
  background-color: #ec4848;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.intro header h2 {
  font-size: 8em;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 1px;
}

div.summary {
  padding: 15% 0;
}

div.summary p {
  /* padding: 5%; */

  padding: 0 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
}

div.summary p:last-child {
  margin-top: 1em;
  padding-top: 1.5em;
  border-top: 1px solid #ec4848;
}
